.register .title-register {
	display: flex;
	justify-content: space-between;
	gap: 2rem;
}

.register .title-register a {
	font-size: 20px;
	padding: 5px 10px 9px;
	color: var(--inputBorder);
}

.register .title-register a:hover {
	text-decoration: underline;
}

@media (max-width: 600px) {
	.register {
		margin: 90px 20px;
	}

	.register .title-register {
		flex-direction: column-reverse;
		align-items: center;
		gap: 0.7rem;
		margin-bottom: 10px;
	}
}
