.register .title-register {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
}

.register .title-register a {
	background: var(--btnColor);
	font-size: 25px;
	padding: 5px 10px 9px;
	border-radius: 50%;
	color: var(--inputBorder);
}

@media (max-width: 600px) {
	.register{
		margin: 90px 20px;
	}
}