@font-face {
	font-family: Roboto;
	font-weight: 300;
	font-style: light;
	src: url('../fonts/Roboto-Light.ttf') format('opentype');
}

@font-face {
	font-family: Roboto;
	font-weight: 400;
	font-style: normal;
	src: url('../fonts/Roboto-Regular.ttf') format('opentype');
}

@font-face {
	font-family: Roboto;
	font-weight: 500;
	font-style: medium;
	src: url('../fonts/Roboto-Medium.ttf') format('opentype');
}

@font-face {
	font-family: Roboto;
	font-weight: 700;
	font-style: bold;
	src: url('../fonts/Roboto-Bold.ttf') format('opentype');
}
