.detail-movie {
	padding: 30px;
	background-color: var(--bgCardColor);
	border-radius: 15px;
	display: flex;
	gap: 2rem;
}

.detail-movie .title-movie {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
}

.detail-movie .title-movie h2 {
	max-width: 500px;
}

.detail-movie .title-movie a {
	font-size: 20px;
	padding: 5px 10px 9px;
	color: var(--inputBorder);
}

.detail-movie .title-movie a:hover {
	text-decoration: underline;
}

.detail-movie .picture img {
	width: 400px;
	border-radius: 10px;
}

.detail-movie .plot {
	max-width: 500px;
	line-height: 25px;
	font-size: 18px;
}

.movie-content {
	position: relative;
}

.detail-movie .more-information {
	position: absolute;
	bottom: 0;
}

.detail-movie .more-information:hover {
	text-decoration: underline;
}

@media (max-width: 992px) {
	.detail-movie {
		flex-direction: column;
	}

	.detail-movie .picture {
		display: flex;
		justify-content: center;
	}

	.detail-movie .picture img {
		width: 200px;
	}

	.detail-movie .title-movie {
		flex-direction: column-reverse;
		gap: 1rem;
		margin-bottom: 10px;
	}

	.movie-content h2,
	.movie-content .run-time {
		text-align: center;
	}

	.detail-movie .more-information {
		position: relative;
		margin-top: 50px;
		text-align: center;
		font-weight: 500;
	}
}
