nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 25px 40px;
}

.logo img {
	max-width: 70px;
}

nav a {
	text-transform: uppercase;
	font-weight: 500;
}

nav a:hover{
    text-decoration: underline;
}
